#DIA
## Temario:
- Tipos de datos
- Operaciones matmáticas
- Operaciones con String
- Operaciones lógicas
- Operaciones Booleanas

###Tipos de Datos

In [ ]:
# Existen los datos:
enteros = 4 # Son números sin decimales
flotantes = 99. # Son números con decimales
type(flotantes)

float

In [ ]:
# Caracteres/ Strings
caracteres = "a"
cadena_caracteres = "todas las letras que quieras"
type(cadena_caracteres)

str

In [ ]:
# Boleanos
falso = False # Falso es 0
verdadero = True # Verdadero es 1

In [ ]:
# Imprimir
print(enteros)
print(flotantes)
print(caracteres)
print(cadena_caracteres)
print(falso)
print(verdadero)

4
99.0
a
todas las letras que quieras
False
True

### Espera, el usuario también puede ingresar datos

In [ ]:
# Con la función input, el usuario puede ingresar a cualquier tipo de dato
# y podemos guardarlo en alguna variable
name = input ("Mi nombre es: ")
print(name)

num = input("Ingresa un número: ")
print(num + 1)

Mi nombre es: 2
2

KeyboardInterrupt: Interrupted by user

In [ ]:
num = int(input("Ingresa un número: "))
print(num + 1)

Ingresa un número: 4
5

### Operaciones Matemáticas

In [ ]:
# 4to Nivel de importancia
# Suma Ordinaria
print("Suma ordinaria")
print(3+4) # 7
variable1, variable2 = 20,40 # 60
print(variable1 + variable2)

# Resta Ordinaria
print("Resta ordinaria")
print(2-5) # -3
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado) # 4.6

Suma ordinaria
7
60
Resta ordinaria
-3
4.6

In [1]:
# 3er Nivel de importancia
# Multiplicación Ordinaria
print("Multiplicación Ordinaria")
M1, M2 = 2, 3.14
print(M1 * M2) # 6.28

# División Ordinaria
print("--------------------")
print("División Ordinaria")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1/M2)
print(M3/M4)
print(M5/M6)
print("--------------------")
print("División de piso")
print(M1//M2)
print(M3//M4)
print(M5//M6)

print( 6 / 2 * 3)

Multiplicación Ordinaria
6.28
--------------------
División Ordinaria
0.4
1.2
0.8
--------------------
División de piso
0
1
0
9.0

In [2]:
# Potencias
print("Potencias")
print(2 ** 3) #8
P1,P2 = 7,2
print(P1 ** P2) # 49

Potencias
8
49

In [4]:
# Área de un círculo
pi = 3.14
r =4
A = pi * (r**2)
print(A)

50.24

### Operación String

In [6]:
HM = "Hola Mundo"
print(HM)
a,b = "ta","co"
print(a+b)
print(a + " " + b)

Hola Mundo
taco
ta co

In [8]:
# Animal debe tener nombre, le debe gustar una fruta, debe tener una profesión
Animal = "Burro"
Nombre = "Patrik"
Fruta = "Platano"
Profesión = "Programador"

print(f"Hola soy {Nombre} y soy un {Animal} me gusta la {Fruta} y soy {Profesión}")

Hola soy Patrik y soy un Burro me gusta la Platano y soy Programador

### Operaciones Lógicas

In [ ]:
# Empezamos con los operadores lógicos <, >, <=, >=, and, or (SIEMPRE RETORNA UN BOOLEANO)

In [12]:
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 >14
b4 = 14 >= 14
print(b1)
print(b2)
print(b3)
print(b4)

False
True
False
True

In [15]:
# Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamón = False
print(pan and queso and mayonesa and jamón)

True

In [16]:
print(True * 20)
print(False * 10)

20
0