#Día 3
##Estructuras de Datos, Tuplas, Sets y Diccionarios
###Temario:
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de Datos
Las estructuras de datos son formas de organizar informarción para trabajar con ella de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota:

- Pilas (FILO -> First in, Last out) #El primero en entrar es el último en salir
- Colas (FIFO -> First in, First out)
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos.

In [ ]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamón"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón']

In [ ]:
print(lista_de_compras[6])

jamón

In [ ]:
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamón',
 'sopa']

In [ ]:
# Agregar un elemento en una posición específica
lista_de_compras.insert(1,"platano")
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [ ]:
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [ ]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [ ]:
lista_de_compras.pop() # sin nada dentro del paréntesis borra el último elemento
lista_de_compras.pop(7) # o puedes agarrar la posición que quieras (pero iniciando desde 0)
# Nota: te retorna el número eliminado

'jamón'

In [ ]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
    print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [ ]:
# len() saca el tamaño de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [ ]:
promedios = [32.5, 98.3, 87.2, 69.4, 57.4]
print(promedios)
promedios.sort() # sort() sirve para ordenar la lista de manera ascendente
print(promedios)
# ordenar una lista de manera descendente
promedios.sort(reverse = True)
print(promedios)

[32.5, 98.3, 87.2, 69.4, 57.4]
[32.5, 57.4, 69.4, 87.2, 98.3]
[98.3, 87.2, 69.4, 57.4, 32.5]

In [ ]:
# Podemos ingresar al último elemento de una lista
print(promedios[-1])

32.5

In [ ]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

98.3
32.5

In [ ]:
# Declaración y uso de matrices
calificaciones = [[99,93,97],[100, 85,43]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"Cali {j}: {cali_j}")
    j += 1
  j = 0
  i += 1

Alumno 1
Cali 1: 99
Cali 2: 93
Cali 3: 97

Alumno 2
Cali 1: 100
Cali 2: 85
Cali 3: 43

## Tuplas
Colecciones ordenadas pero inmutables

In [ ]:
# Hagamos un programa donde guardemos fechas de nacimiento de un grupo en una tupla
fechas = ("05/02/10","28/02/09","04/09/74","14/05/09")
print(type(fechas))
print(fechas)

<class 'tuple'>
('05/02/10', '28/02/09', '04/09/74', '14/05/09')

In [ ]:
# ES INMUTABLE
fechas.append("08/01/10") # TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Convertir una tupla en lista
fechas_lista = list(fechas) # Aquí ya puedes usar los comando básicos de una lista

## Sets
Los sets son colecciones SIN orden y que NO permiten elementos duplicados

In [ ]:
nombre = {"Renata", "Miriam", "Pedro", "Elder", "Elder"}
print(nombre)
print(type(nombre))

{'Pedro', 'Elder', 'Renata', 'Miriam'}
<class 'set'>

In [ ]:
distintos_datos = {"Renata", "Miriam", "Pedro", "Elder", 315, 316}
print(distintos_datos)

{'Pedro', 'Elder', 315, 316, 'Renata', 'Miriam'}

In [ ]:
# Add
nombre.add("Damián")
print(nombre)

{'Damián', 'Renata', 'Pedro', 'Elder', 'Miriam'}

In [ ]:
print(nombre[2]) # los sets NO tienen orden, así que no existen posiciones y por eso sale error

TypeError: 'set' object is not subscriptable

In [ ]:
nombre[2] = "Cristina" # los sets NO tienen orden, así que no existen posiciones y por eso sale error

TypeError: 'str' object does not support item assignment

In [ ]:
# Union
matutino = {22864,98754,12346,76858}
vespertino = {22864,56738,23536,47369}
total_matrículas = matutino.union(vespertino)
print(total_matrículas)
# Unión pero con |
total_matrículas = matutino | vespertino
print(total_matrículas)

{98754, 56738, 76858, 47369, 22864, 23536, 12346}
{98754, 56738, 76858, 47369, 22864, 23536, 12346}

In [ ]:
# Intersección
ca = {181,12891,34892,87342,73823,83675,446}
al = {181,9654,9758,2457,111}
# Intersección con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# Intersección con &
ca_al = ca & al
print(ca_al)

{181}
{181}

In [ ]:
# Diferencia
# Diferencia usando .difference
solo_cálculo = ca.difference(al)
print(solo_cálculo)
# Diferencia usando -
solo_cálculo = ca - al
print(solo_cálculo)

{34892, 87342, 12891, 83675, 446, 73823}
{34892, 87342, 12891, 83675, 446, 73823}

In [ ]:
nombre = {"Renata", "Miriam", "Pedro", "Elder", "Elder"}
# remove, pop
nombre.remove("Renata") #Puedes eliminar el que tu quieras
print(nombre)
nombre.pop() #Elimina un elemento de manera aleatoria
print(nombre)

{'Elder', 'Miriam', 'Pedro'}
{'Miriam', 'Pedro'}

In [ ]:
# Eliminar todo el SET
nombre.clear()
print(nombre)

set()

## Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave:valor

In [ ]:
alumno = {
    #clave      valor
    "nombre": "Miriam Álvarez",
    "edad": 16,
    "carrera": "preparatoria",
    "semestre": 3,
    "promedio": 98,
    "calificaciones": [99,93,97,100,100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Miriam Álvarez',
 'edad': 16,
 'carrera': 'preparatoria',
 'semestre': 3,
 'promedio': 98,
 'calificaciones': [99, 93, 97, 100, 100]}

In [ ]:
#---------------------HASTA AQUÍ-----------------------
print("El alumno(a)", alumno["nombre"], "está estudiando", alumno["carrera"])

El alumno(a) Miriam Álvarez está estudiando preparatoria

In [ ]:
# Agregar al diccionario
alumno["área preferida"] = "Álgebra"
alumno

{'nombre': 'Miriam Álvarez',
 'edad': 16,
 'carrera': 'preparatoria',
 'semestre': 3,
 'promedio': 98,
 'calificaciones': [99, 93, 97, 100, 100],
 'área preferida': 'Álgebra'}

In [ ]:
for valor in alumno:
  print(alumno[valor])

Miriam Álvarez
16
preparatoria
3
98
[99, 93, 97, 100, 100]
Álgebra

In [ ]:
for clave, valor in alumno.items():
  #devuelve una vista de todos los pares clave:valor del diccionario
  print(clave, ":", valor)

nombre : Miriam Álvarez
edad : 16
carrera : preparatoria
semestre : 3
promedio : 98
calificaciones : [99, 93, 97, 100, 100]
área preferida : Álgebra

In [ ]:
# El método .clear() también se puede usar aquí
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Miriam Álvarez

In [ ]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Miriam Álvarez'), ('edad', 16), ('carrera', 'preparatoria'), ('semestre', 3), ('promedio', 98), ('calificaciones', [99, 93, 97, 100, 100]), ('área preferida', 'Álgebra')])
<class 'dict_items'>
[('nombre', 'Miriam Álvarez'), ('edad', 16), ('carrera', 'preparatoria'), ('semestre', 3), ('promedio', 98), ('calificaciones', [99, 93, 97, 100, 100]), ('área preferida', 'Álgebra')]
<class 'list'>

In [ ]:
# El método .values() sirve para obtener los valores del diccionario, también se puede usar en la interacción
alumno_v = alumno.values()
print(type(alumno_v))
print(alumno_v)

<class 'dict_values'>
dict_values(['Miriam Álvarez', 16, 'preparatoria', 3, 98, [99, 93, 97, 100, 100], 'Álgebra'])

In [ ]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [ ]:
# .copy() puedes copiar todo el diccionario en una nueva variable
# Update -> Sirve para cambiar los values (valores) (.update())
alumno.update({"semestre": 4})
alumno

{'nombre': 'Miriam Álvarez',
 'edad': 16,
 'carrera': 'preparatoria',
 'semestre': 4,
 'promedio': 98,
 'calificaciones': [99, 93, 97, 100, 100],
 'área preferida': 'Álgebra'}

In [ ]:
# Opcional
import random
opciones = ["piedra", "papel", "tijeras"]

while True:
  while True:
    elección = input("\nElige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): ")
    if elección not in opciones and not elección == "salir":
      print("Opción no válida, intenta de nuevo.")
    else:
      break

  if elección == "salir":
    print("¡Gracias por jugar!")
    break
  aleatoria = random.choice(opciones)
  print("La computadora eligió:", aleatoria)

  # Determinamos el ganador
  if elección == aleatoria:
      print("Empate")
  elif (elección == "piedra" and aleatoria == "tijeras") \
        or (elección == "papel" and aleatoria == "piedra") \
        or (elección == "tijeras" and aleatoria == "papel"):
      print("¡¡Ganaste!!")
  else:
      print("Perdiste :(")

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): abeja
Opción no válida, intenta de nuevo.

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): piedra
La computadora eligió: papel
Perdiste :(

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): papel
La computadora eligió: piedra
¡¡Ganaste!!

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): tijeras
La computadora eligió: piedra
Perdiste :(

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): tijeras
La computadora eligió: tijeras
Empate

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): salir
¡Gracias por jugar!

In [ ]:
# Lista de productos
productos = ["manzana", "banana", "leche", "pan"] # <--Lista

# Tupla de precios
precios = (10, 15, 20, 5) # <--Tupla

# Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {productos[i]: {"precio": precios[i], "stock": 10} for i in range(len(productos))}
# <--Diccionario
# Clave: nombre del producto
# Valor: otro diccionario con "precio" y "stock"

# Set de productos en oferta
ofertas = {"manzana", "pan"} # <--Set

# Mostrar productos
for p in productos:
    msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
    info = inventario[p]
    print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¿Qué producto quieres comprar? ").strip().lower()
if compra in inventario and inventario[compra]["stock"] > 0:
    inventario[compra]["stock"] -= 1
    print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
    print("Producto no disponible")

Manzana - $10 - Stock: 10 -> OFERTA!!!
Banana - $15 - Stock: 10 -> Grandes precios!
Leche - $20 - Stock: 10 -> Grandes precios!
Pan - $5 - Stock: 10 -> OFERTA!!!

¿Qué producto quieres comprar? pan
Compraste 1 pan. Stock restante: 9